body {
  background: -webkit-linear-gradient(-45deg, #00c6ff 0%,#2989d8 50%,#207cca 73%,#0072ff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #00c6ff 0%,#2989d8 50%,#207cca 73%,#0072ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c6ff', endColorstr='#0072ff',GradientType=1 );
}

.container {
  width: 75%;
  background-color: #FFFFFF;
  height: 100%;
  padding: 50px;
}

#viewChart {
  float: right;
}

h1 {
  text-align: center;
}

.mts {
  margin-top: 5px;
}

.mtm {
  margin-top: 25px;
}

.mbm {
  margin-bottom: 25px;
}

.mtl {
  margin-top: 50px;
}

.plm {
  padding-left: 100px;
}
